<div class="contents row">
  <div class="container">
    <h2>Sign up</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

       <div class="field">
        <%= f.label :nickname %> <em>(6 characters maximum)</em><br />
        <%= f.text_field :nickname, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>
 
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :biological_sex_id %>
        <%= f.number_field :biological_sex_id %>
      </div>

      <div class="field">
        <%= f.label :birth_date %>
        <%= f.date_select :birth_date, 
                          start_year: Time.now.year, 
                          end_year: 1930, 
                          prompt: { day: '--', month: '--', year: '--' } 
        %>
      </div>

      <div class="field">
         <%= f.label :age %>
         <div class="input-group">
           <%= f.number_field :age, class: 'form-control' %>
           <span class="input-group-addon">才</span>
         </div>
      </div>

      <div class="field">
        <%= f.label :start_date %>
        <%= f.date_select :start_date, 
                          start_year: 2000, 
                          end_year: Time.now.year + 5, 
                          prompt: { day: '--', month: '--', year: '--' } 
        %>
      </div>

      <div class="field">
         <%= f.label :height %>
         <div class="input-group">
           <%= f.number_field :height, class: 'form-control' %>
           <span class="input-group-addon">cm</span>
         </div>
      </div>

      <div class="field">
         <%= f.label :starting_weight %>
         <div class="input-group">
           <%= f.number_field :starting_weight, class: 'form-control' %>
           <span class="input-group-addon">kg</span>
         </div>
      </div>

      <div class="field">
         <%= f.label :appropriate_weight %>
         <div class="input-group">
           <%= f.number_field :appropriate_weight, class: 'form-control' %>
           <span class="input-group-addon">kg</span>
         </div>
      </div>

      <div class="field">
        <%= f.label :BMI %>
        <%= f.number_field :BMI %>
      </div>

      <div class="field">
         <%= f.label :starting_BFP %>
         <div class="input-group">
           <%= f.number_field :starting_BFP, class: 'form-control' %>
           <span class="input-group-addon">%</span>
         </div>
      </div>

      <div class="field">
        <%= f.label :comment %> <em>(400 characters maximum)</em><br />
        <%= f.text_field :comment,  placeholder:"自由に記述してください。ダイエット方法、ダイエットをするための決意表明など" %>
      </div>
      
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>