<!-- ヘッダー -->
<%= render 'layouts/header' %>

<!-- メイン画面 -->
<div class= main>
</div>
  <!-- メインイメージ、メッセージ＆ユーザー情報 -->
<div class="user-info">
  <% if current_user %>
    <div class="info-image-wrapper">
      <img class="info-image" src="<%= image_path 'diet.png' %>" alt="Diet image">
      <p class="info-text">～失敗も成功も、全ては目標にたどり着くための糧～</p>
      <p class="info-text info-text-delay">～<%= current_user.nickname %>さん、今日の日記を書いていきましょう～</p>
    </div>
    <div class="user-info-box">
      <p>ニックネーム: <%= current_user.nickname %>さん</p>
      <p>目標体重: <%= current_user.term_goal %>kg</p>
      <p>最新の体重: <%= current_user.diaries.where('entry_date <= ?', Date.today).order(entry_date: :desc).first.current_weight unless current_user.diaries.empty? %>kg</p>
      <p>前回との差: <%= current_user.diaries.where('entry_date <= ?', Date.today).order(entry_date: :desc).first.weight_difference unless current_user.diaries.empty? %>kg</p>
    </div>
  <% else %>
    <div class="info-image-wrapper">
      <img class="info-image" src="<%= image_path 'diet.png' %>" alt="Diet image">
      <p class="info-text">～あなたの健康はあなたのもの。管理するのは、あなた自身～</p>
      <p class="info-text info-text-delay">～今日から健康的なダイエットを、あなたも一緒にはじめませんか？～</p>
    </div>
  <% end %>
</div>

  <!-- カレンダー -->
<%= month_calendar events: @entries do |date, entries| %>
  <%= date %>
  <% if entries.present? %>
    <% entries.each do |entry| %>
      <div>
        <p class="small-font green">体重: <%= entry.current_weight %> kg</p>
        <p class="small-font pink">摂取: <%= entry.plus_calories %> kcal</p>
        <p class="small-font blue">消費: <%= entry.minus_calories %> kcal</p>
      </div>
    <% end %>
  <% end %>
<% end %>

  <!-- 折れ線グラフ -->

